@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    
    
}

form {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 14px #888888;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease all;
}

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
    top: -18px;
    left: 6px;
    font-size: 12px;
    color: lightblue;
    background-color: #fff;
    padding: 2px;
}

button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: lightblue;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    width: 100%;
    align-items: center;
    justify-content: center;
}

button[type="submit"]:hover {
    background-color: #007BFF;
}
